<body class="stretched">

<!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

    <!-- Header
        ============================================= -->
    <header id="header" class="transparent-header page-section dark">
          <div id="header-wrap">
    <div class="container clearfix">
        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
  <!-- Logo ============================================= -->
      <div id="logo"> <a href="index.php" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="images/logo.png" alt="Canvas Logo"></a> <a href="index.php" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="images/logo@2x.png" alt="Canvas Logo"></a> </div>
        <!-- #logo end --> 
              
        <!-- Primary Navigation
                    ============================================= -->
       
        <nav id="primary-menu">

            <ul class="one-page-menu">
                <li class="current"><a href="index.php" data-href="#header"><div>Home</div></a></li>
                <li><a href="about.php" data-href="#section-features"><div>About Us</div></a></li>
                <li><a href="#" data-href="#section-pricing" style="cursor:default"><div>Services</div></a>
                        <ul>
                            <li><a href="services.php" data-href="#section-features"><div>Stock Market</div></a>
                                    <ul>
                            <li><a href="services.php#snav-content1" data-href="#section-features"><div>STOCK CASH INTRADAY PACK</div></a></li>
                            <li><a href="services.php#snav-content2" data-href="#section-features"><div>STOCK CASH POSITIONAL PACK</div></a></li>
                            <li><a href="services.php#snav-content3" data-href="#section-features"><div>STOCK CASH FUNDING PACK</div></a></li>
                                    </ul>
                                        
                                        </li>
                                        <li><a href="derivatives.php" data-href="#section-features"><div>Derivatives Market</div></a>
                                                <ul>
                                        <li><a href="derivatives-stock-future.php#snav-content1" data-href="#section-features"><div>STOCK FUTURE INTRADAY PACK</div></a></li>
                                        <li><a href="derivatives-stock-future.php#snav-content2" data-href="#section-features"><div>STOCK FUTURE POSITIONAL PACK</div></a></li>
                                        <li><a href="derivatives-stock-future.php#snav-content3" data-href="#section-features"><div>STOCK FUTURE FUNDING PACK</div></a></li>
                                        <li><a href="derivatives-stock-nifty.php" data-href="#section-features"><div>STOCK/INDEX OPTION INTRADAY PACK</div></a></li>
                                        <li"><a href="derivatives-stock-nifty-bank.php" data-href="#section-features"><div>NIFTY/BANK NIFTY FUTURE INTRADAY</div></a></li>
                                        <!--<li><a href="derivatives.php" data-href="#section-features"><div>NIFTY/BANK NIFTY FUTURE ZPPP</div></a></li>-->
                                                </ul>
                                        
                                        </li>
                                        <li><a href="commodity.php" data-href="#section-features"><div>Commodity Market</div></a>
                                                <ul>
                                        <li><a href="commodity.php#snav-content1" data-href="#section-features"><div>MCX (BEP) INTRADAY PACK</div></a></li>
                                        <li><a href="commodity.php#snav-content2" data-href="#section-features"><div>BASE METALS AND ENERGY</div></a></li>
                                        <li><a href="commodity.php#snav-content3" data-href="#section-features"><div>COMMODITY (MCX + AGRO ) COMBO PACK</div></a></li>
                                        <li><a href="commodity.php#snav-content4" data-href="#section-features"><div>MCX POSITIONAL PACK</div></a></li>
                                        <li><a href="commodity.php#snav-content5" data-href="#section-features"><div>MCX ZPPP PACK</div></a></li>
                                        <li><a href="commodity.php#snav-content6" data-href="#section-features"><div>MCX ECONOMICAL PACK</div></a></li>
                                        <li><a href="commodity.php#snav-content7" data-href="#section-features"><div>NCDEX INTRADAY PACK</div></a></li>
                                        <!--<li><a href="commodity.html" data-href="#section-features"><div>NCDEX FUNDING PACK</div></a></li>-->
                                                </ul>
                                        </li>
                                        <li><a href="forex.php" data-href="#section-features"><div>Forex Market</div></a>
                                                <ul>

                                        <li><a href="forex.php#snav-content1" data-href="#section-features"><div>DOMESTIC FOREX</div></a></li>
                                        <li><a href="forex.php#snav-content2" data-href="#section-features"><div>INTERNATIONAL FOREX</div></a></li>
                                        
                                                </ul>
                                        </li>
                                    </ul>
                            </li>
                            <li><a href="pricing.php" data-href="#section-testimonials"><div>Pricing</div></a></li>
                            <li><a href="payment.php" data-href="#section-specs"><div>Payment</div></a></li>
                            <li><a href="freeTrial.php" data-href="#section-specs"><div>Free Trial</div></a></li>
                            <li><a href="careers.php" data-href="#section-specs"><div>Careers</div></a></li>
                            
                            <li><a href="contact.php" data-href="#section-buy"><div>Contact</div></a></li>
                        </ul>

                    </nav>              <!-- #primary-menu end --> 
              
            </div>
  </div>
        </header>
<!-- #header end -->
<!-- Slider start -->
<section id="slider" class="slider-parallax swiper_wrapper clearfix" data-height-lg="500" data-height-md="500" data-height-sm="600" data-height-xs="600" data-height-xxs="600">
<div class="swiper-container swiper-parent">
    <div class="swiper-wrapper">
        
         <div class="swiper-slide dark" style="background-image: url('images/banner-1.jpg');">
            <div class="container clearfix">
                <div class="slider-caption slider-caption-center">
                    <h2 data-caption-animate="fadeInUp">Connect With Recoveryvia</h2>
                </div>
            </div>
        </div>
          
        <div class="swiper-slide dark" style="background-image: url('images/banner-2.jpg');">
            <div class="container clearfix">
                <div class="slider-caption slider-caption-center">
                     <h2 data-caption-animate="fadeInUp">Have Faith On </h2>
                </div>
            </div>
        </div>
        <div class="swiper-slide dark" style="background-image: url('images/banner-3.jpg');">
            <div class="container clearfix">
                <div class="slider-caption slider-caption-center">
                    <h2 data-caption-animate="fadeInUp">Be Stand With </h2>
                </div>
            </div>
        </div>
        <div class="swiper-slide dark" style="background-image: url('images/banner-4.jpg');">
            <div class="container clearfix">
                <div class="slider-caption slider-caption-center">
                    <h2 data-caption-animate="fadeInUp">Share your exciting experience with others</h2>
                </div>
            </div>
        </div>

        <div class="swiper-slide dark" style="background-image: url('images/banner-5.jpg');">
            <div class="container clearfix">
                <div class="slider-caption slider-caption-center">
                    <h2 data-caption-animate="fadeInUp"> Keep Growing With </h2>
                </div>
            </div>
        </div>
        <div class="swiper-slide dark" style="background-image: url('images/banner-1.jpg');">
            <div class="container clearfix">
                <div class="slider-caption slider-caption-center">
                    <h2 data-caption-animate="fadeInUp"> Keep Growing With </h2>
                </div>
            </div>
        </div>

        <?php include('slider.php'); ?>
        
    </div>
 
    <div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
    <div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
        <div id="slide-number">
            <div id="slide-number-current"></div>
            <span>/</span>
            <div id="slide-number-total"></div>
        </div>
    <div class="swiper-pagination"></div>
  </div>
   <script src="js/sliderjs.js" type="text/javascript"></script>
</section>

<!-- Content
        ============================================= -->
<section id="content">
          <div class="content-wrap">
    <div class="promo promo-dark promo-full landing-promo header-stick ">
              <div class="container clearfix ">
        <p style="color:#008000 ; margin:0 !important;">
                                  </p>
        <div class="vertical" style="display:none;">
                  <form action="action/homemail.php" method="post" role="form" class=" clearfix">
            <div class="col_four_fifth nobottommargin">
                      <div class="col_one_third nobottommargin">
                <input type="text" class="form-control input-lg not-dark" value="" name="name" placeholder="Your Name*">
              </div>
                      <div class="col_one_third nobottommargin">
                <input type="email" class="form-control input-lg not-dark" value="" name="email" placeholder="Your Email*">
              </div>
                      <div class="col_one_third col_last nobottommargin">
                <input type="text" class="form-control input-lg not-dark" value="" name="mobile" placeholder="Contact Number*">
              </div>
                    </div>
            <div class="col_one_fifth col_last nobottommargin">
                      <button class="btn btn-lg btn-danger btn-block nomargin" value="submit" name="submit" type="submit" style="">SUBMIT</button>
                    </div>
          </form>
                </div>
     <h3 class="" style="margin-top:0px !important;">Call us @ <span>+91-7000150117</span> or Email :<span>info@recoveryvia.com</span>
                  <div class="col_one_fifth col_last nobottommargin pull-right">
            <a class='inline' href="#inline_content"  ><button class="btn btn-lg btn-danger btn-block nomargin " id="toggle-form" value="submit" style="">Start Trial</button></a>
           </div>
                </h3>
      </div>
            </div>
  </div>
          <div class="container clearfix">
    <div class="col_one_fourth nobottommargin">
              <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
        <div class="fbox-icon"> <a href="index.php/spr.php" target="_self"><i class="i-alt noborder icon-file"></i></a> </div>
        <h3>SPECIAL RECOMMENDATION<span class="subtitle"><a href="index.php/spr.php" target="_self"><b>Read More</b></a></span></h3>
      </div>
            </div>
    <div class="col_one_fourth nobottommargin">
              <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
        <div class="fbox-icon"> <a href="index.php/RA.php" target="_self"><i class="i-alt noborder icon-dashboard"></i></a> </div>
        <h3>RISK ANALYSIS<span class="subtitle"><a href="index.php/RA.php" target="_self"><b>Read More</b></a></span></h3>
      </div>
            </div>
    <div class="col_one_fourth nobottommargin">
              <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
        <div class="fbox-icon"> <a href="index.php/kyc.php" target="_self"><i class="i-alt noborder icon-bullhorn"></i></a> </div>
        <h3>KYC<span class="subtitle"><a href="index.php/kyc.php" target="_self"><b>Read More</b></a></span></h3>
      </div>
            </div>
    <div class="col_one_fourth nobottommargin col_last">
              <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
        <div class="fbox-icon"> <a href="index.php/CAS.php" target="_self"><i class="i-alt noborder icon-warning-sign"></i></a> </div>
        <h3>COMPLAINT AND SUGGESTION<span class="subtitle"><a href="index.php/CAS.php" target="_self"><b>Read More</b></a></span></h3>
      </div>
            </div>
  </div>
          <div class="section nobottommargin">
    <div class="container clear-bottommargin clearfix">
              <div class="heading-block center">
        <h2>Services</h2>
        <span class="divcenter"></span> </div>
              <div class="container clearfix">
        <div class="col_one_third">
                  <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn">
            <div class="fbox-icon"> <a href="index.php/services.php" target="_self"><i class="icon-th"></i></a> </div>
            <a href="services.php" target="_self">
                    <h3>Stock Cash</h3>
                    </a>
            <p>Share is the ownership of the company divided into small parts having these small parts</p>
            <p align="right"><a href="index.php/services.php" target="_self">Read More</a></p>
          </div>
                </div>
        <div class="col_one_third">
                  <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="200">
            <div class="fbox-icon"> <a href="derivatives-stock-future.php" target="_self"><i class="icon-eye-open   "></i></a> </div>
            <a href="derivatives-stock-future.php" target="_self">
                    <h3>Stock Futures</h3>
                    </a>
            <p>A futures contract is an agreement between two parties – a buyer and a seller</p>
            <p align="right"><a href="derivatives-stock-future.php" target="_self">Read More</a></p>
          </div>
                </div>
        <div class="col_one_third col_last">
                  <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="400">
            <div class="fbox-icon"> <a href="derivatives-stock-nifty.php" target="_self"><i class="icon-star-empty"></i></a> </div>
            <a href="derivatives-stock-nifty.php" target="_self">
                    <h3>Stock /Nifty Option</h3>
                    </a>
            <p>Options are of two types – calls and puts. Calls give the buyer the right but not the</p>
            <p align="right"><a href="derivatives-stock-nifty.php" target="_self">Read More</a></p>
          </div>
                </div>
        <div class="clear"></div>
        <div class="col_one_third">
                  <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="600">
            <div class="fbox-icon"> <a href="derivatives-stock-nifty-bank.php" target="_self"><i class="icon-facetime-video"></i></a> </div>
            <a href="derivatives-stock-nifty-bank.php" target="_self">
                    <h3>Nifty/Bank Nifty Future</h3>
                    </a>
            <p>An index future is a derivative, similar to a stock future, whose value is dependent on</p>
            <p align="right"><a href="derivatives-stock-nifty-bank.php" target="_self">Read More</a></p>
          </div>
                </div>
        <div class="col_one_third">
                  <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="800">
            <div class="fbox-icon"> <a href="commodity.php" target="_self"><i class="icon-fullscreen"></i></a> </div>
            <a href="commodity.php" target="_self">
                    <h3>Commodity Market</h3>
                    </a>
            <p>Commodity is a physical substance which can be either soft commodity like</p>
            <p align="right"><a href="commodity.php" target="_self">Read More</a></p>
          </div>
                </div>
        <div class="col_one_third col_last">
                  <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="1000">
            <div class="fbox-icon"> <a href="commodity.php#snav-content7" target="_self"><i class="icon-fire"></i></a> </div>
            <a href="commodity.php#snav-content7" target="_self">
                    <h3>NCDEX</h3>
                    </a>
            <p>NCDEX- Agri is segment of commodity market. In this segment, we provide recommendation to those </p>
            <p align="right"><a href="commodity.php#snav-content7" target="_self">Read More</a></p>
          </div>
                </div>
        <div class="clear"></div>
        <div class="col_one_third nobottommargin">
                  <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="1200">
            <div class="fbox-icon"> <a href="funding-pack.php" target="_self"><i class="icon-lightbul"></i></a> </div>
            <a href="funding-pack.php" target="_self">
                    <h3>Funding pack</h3>
                    </a>
            <p>A futures contract is an agreement between two parties – a buyer and a seller – to buy or sell something at a future date. </p>
            <p align="right"><a href="funding-pack.php" target="_self">Read More</a></p>
          </div>
                </div>
        <div class="col_one_third nobottommargin">
                  <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="1400">
            <div class="fbox-icon"> <a href="commodity.php#snav-content5" target="_self"><i class="icon-heart-empty"></i></a> </div>
            <a href="commodity.php#snav-content5" target="_self">
                    <h3>ZPPP</h3>
                    </a>
            <p>This service is totally based on committed points for each commodity</p>
            <p align="right"><a href="commodity.php#snav-content5" target="_self">Read More</a></p>
          </div>
                </div>
        <div class="col_one_third nobottommargin col_last">
                  <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="1600">
            <div class="fbox-icon"> <a href="forex.php" target="_self"><i class="icon-file-text-alt"></i></a> </div>
            <a href="forex.php" target="_self">
                    <h3>forex market</h3>
                    </a>
            <p>The market in which participants are able to buy, sell, exchange and speculate</p>
            <p align="right"><a href="forex.php" target="_self">Read More</a></p>
          </div>
                </div>
        <div class="clear"></div>
      </div>
            </div>
  </div>
          <div class="col_full bottommargin-lg common-height"> 
    <!--Track Sheet Style-->
    <style type="text/css">
                            #trackSheet li{list-style-type:none; float:left;}
                            #trackSheet li img{width:40px; margin:10px; }
                            #trackSheet li img:hover{transform:scale(1.2);}
                            </style>
    <!--Track Sheet Style End-->
    <div class="col-md-4 dark col-padding ohidden" style="background-color: #1abc9c;">
              <div>
        <h3 class="uppercase" style="font-weight: 600;">Track Sheet & Reports</h3>
        <p> Take a look to Recovery 's track history : It includes our everyday sheets, reports of work we doing. This way we are letting our customer's know that what we are planning day by day to get maximized profit. </p>
        <a href="tracksheet.php" target="_self" class="button button-border button-light button-rounded uppercase nomargin">View All TrackSheet & Reports</a> <i class="icon-bulb bgicon"></i> </div>
            </div>
    <div class="col-md-4 dark col-padding ohidden" style="background-color: #34495e;">
              <div>
        <h3 class="uppercase" style="font-weight: 600;">Live Research</h3>
        <div class="newstape">
                  <div class="newstape-content">
                        <div class="news-block">
                      <p class="text-justify">
                SELL GOLD BELOW 27180 TGT 27100,27000 SL 27266
(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                BOOK SOME PROFIT IN CRUDEOIL SELL CALL NEAR TGT1 ACHIEVE@3024
(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                BOOK PART PROFIT IN LEAD SELL CALL  TGT1 ACHIEVE@116.35
(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                BOOK FULL PROFIT IN EURCHF SELL CALL @ 1.0785 ALL TGT HIT 
(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                COMEX ; SELL GOLD BELOW 1180 TGT 1176,1172 SL SL 1185
(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                BOOK FULL PROFIT IN COPPER SELL CALL ALMOST ALL TGT ACHIEVE@346.05
(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                BOOK PART PROFIT N EURCHF SELL CALL 1ST TGT HIT
(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                HOLD USDINR BUY CALL WITH SL & TGT 

(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                BOOK SOME PROFIT IN LEAD SELL CALL @116.60 & REVISED SL @ COST
KINDLY EXIT GOLD SELL CALL SL TRIGGERED
(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                SELL GBPUSD BELOW 1.5436 TGT 1.5410, 1.5390 SL 1.5466

(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                BOOK FULL PROFIT IN GBPINR SELL CALL @100.30
(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                SELL LEAD BELOW 117 TGT 116.40,115.50 SL 117.65
(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                KINDLY HOLD YOUR POSITION IN RELIANCE INFRA GOLDEN CALL FOR NEXT TRADING DAY WITH SAME TARGET AND SL
(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                OPTION  ALERT:- PLEASE HOLD YOUR POSITION IN ASHOKLEY 95 CALL FOR NEXT TRADING DAY WITH SAME SL AND TARGET
(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                SELL EURCHF BELOW 1.0830 TGT 1.0805, 1.0780 SL 1.0857

(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                STOCK FUTURE GOLDEN ALERT:- PLEASE HOLD YOUR POSITION IN RELCAPITAL FOR NEXT TRADING DAY WITH SAME SL AND TARGET
(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                STOCK CASH PREMIUM ALERT:- PLEASE IGNORE DCBBANK  CALLS IT'S NOT EXECUTED 

(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                STOCK CASH ALERT:- PLEASE IGNORE AMTEKAUTO, MASTEK AND ESSARPORTS CALLS IT'S NOT EXECUTED 

(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                BOOK PART PROFIT IN EURUSD SELL CALL ALMOST 1ST TGT HIT @1.1351
(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                SELL GOLD BELOW 27100 TGT 27020,26900 SL 27180
(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                BOOK SOME PROFIT IN GBPINR SELL CALL 100.46 & REVISE SL AT COST
(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                STOCK OPTION ALERT:- PLEASE EXIT IN BANKBARODA 180 PUT SL HIT

(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                INDEX FUTURE FOLLOWUP:- BOOK FULL PROFIT IN BANKNIFTY OUR BOTH TARGET ACHIEVED MADE A HIGH AT 17808

(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                INDEX FUTURE FOLLOWUP:- BOOK SOME PROFIT IN BANKNIFTY OUR 1ST TARGET ACHIEVED MADE A HIGH AT 17740

(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                SELL CRUDEOIL BELOW 3048 TGT 3020,2980 SL 3078
(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                STOCK CASH FOLLOWUP:- SAFE TRADERS CAN BOOK SOME PROFIT IN RAJESHEXPO NOW TRADE AT 625.10 OR WAIT FOR TARGET

(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                KINDLY EXIT FROM AUDUSD BUY CALL SL TRIGGERD
(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                BUY USDINR ABOVE 65.00 TGT 65.15, 65.25 SL 64.85 
(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                INDEX FUTURE CALL:- BUY BANKNIFTY ABOVE 17710 TARGET 17740-17790 SL 17670

(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                STOCK CASH CALL:- BUY ESSARPORTS ABOVE 125 TARGET 126-128 SL 123.5

(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                SELL LEAD BELOW 116.60 TGT 116,115.20 SL 117.25
(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                BOOK PART PROFIT IN SILVER SELL  CALL ALMOST TGT1 ACHIEVE@37253
(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                GOLDEN CASH- BUY REL INFRA ABOVE 381.50, TARGET-386, 390 SL-376

(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                BOOK PART PROFIT IN ZINC SELL CALL TGT1 ACHIEVE@116.35
(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                BOOK SOME PROFIT IN ZINC SELL CALL @116.65 & REVISED SL @ COST
(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                BOOK PART PROFIT IN COPPER SELL CALL TGT1 ACHIEVE@348.10
(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                STOCK FUTURE POSITIONAL CALL:- BUY CENTURYTEX AROUND 550-552 TARGET 572-600 SL 522

(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                STOCK CASH POSITIONAL CALL:- BUY CENTURYTEX AROUND 550-552 TARGET 572-600 SL 522

(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                BUY AUDUSD ABOVE 0.7293 TGT 0.7310, 0.7325 SL 0.7269
(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                STOCK FUTURE FOLLOWUP:- BOOK FULL PROFIT IN DLF OUR 2ND TARGET ALMOST ACHIEVED MADE A LOW AT 127.55

(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                STOCK FUTURE GOLDEN CALL:- BUY RELCAPITAL ABOVE 412.50 TARGET 418-424 SL 405

(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                SELL SILVER BELOW 37400 TGT 37250 ,37000 SL37580
(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                SELL EURUSD BELOW 1.1370 TGT 1.1350, 1.1325 SL 1.1398
(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                SELL GBPINR BELOW 100.58 TGT 100.40, 100.25 SL 100.80
(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                BOOK PART PROFIT IN NGAS BUY CALL ALMOST TGT1 ACHIEVE@163.70
(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                SELL SILVER BELOW 37330 TGT 37170,37000 SL 37510
(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                BOOK SOME PROFIT IN USDCHF SELL CALL @ 0.9527 ALMOST 1ST TGT HIT
(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                KINDLY EXIT COPPER SELL CALL @ COST
(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                SELL COPPER BELOW 347.20 TGT 345.70,343 TGT 349.20
(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                        <div class="news-block">
                      <p class="text-justify">
                BOOK SOME PROFIT  IN CRUDEOIL BUY CALL @3051 & REVISED SL @ COST
(Call@+91-7000150117 &
Visit;@www.recoveryvia.com.com)              </p>
                      <hr />
                    </div>
                      </div>
                </div>
        
        <i class="icon-cog bgicon"></i> </div>
            </div>
    <div class="col-md-4 dark col-padding ohidden" style="background-color: #e74c3c;">
              <div>
        <h3 class="uppercase" style="font-weight: 600;">Substantiation</h3>
        <section id="slider" class="">
                  <div class="">
            <div id="oc-slider" class="owl-carousel">
                                            
                                          </div>
            <script>

                jQuery(document).ready(function($) {

                    var ocSlider = $("#oc-slider");

                    ocSlider.owlCarousel({
                        items: 1,
                        nav: true,
                        navText : ['<i class="icon-angle-left"></i>','<i class="icon-angle-right"></i>'],
                        animateOut: 'slideOutDown',
                        animateIn: 'zoomIn',
                        smartSpeed: 450
                    });

                });

                </script> 
          </div>
                </section>
        <i class="icon-thumbs-up"></i> </div>
            </div>
    <div class="clear"></div>
  </div>
          <div class="clear"></div>
          <a class="button button-full button-dark center tright bottommargin-lg" href="video.php">
  <div class="container clearfix"> We have more than 1000+ Satisfied clienteles &nbsp;&nbsp;<strong>See More</strong> <i class="icon-caret-right" style="top:4px;"></i> </div>
  </a>
          <div class="clear"></div>
<div class=" col_full">
<div style="background-color:#27c8b8;" class="et_pb_section et_section_regular">
 
 

    <div align="center" style="height:auto;padding:20px 0px 70px 0px ">

        <h2 style="color:#fff"><center>Start your trial today !</center></h2>
             <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-3">
                 
                    <input type="text" name="name" id="name" placeholder="Name" class="form-control trial_txt_box">
                 
                </div>  
                <div class="col-lg-3">
                  
                    <input type="text" name="name" id="phone" placeholder="Phone" class="form-control trial_txt_box">
                    
                 </div>
                <div class="col-lg-2">
                     <input type="submit" name="submit" id="trial_submit" class="btn btn-xs form-control btn-danger trial_txt_box " value="START TRIAL">
                </div>

            </div>
        </div>
    </div>    
 </div>
</div>

          <div class="col_full bottommargin-lg common-height">
    <div class="section notopborder topmargin-sm bottommargin-sm noborder nobg">
              <div class="container clearfix">
        <div class="col_one_fourth nobottommargin center" data-animate="bounceIn"> <i class=" i-xlarge divcenter nobottommargin i-plain icon-thumbs-up"></i>
                  <div class="counter counter-lined"><span data-from="100" data-to="100000" data-refresh-interval="50" data-speed="2000"></span>+</div>
                  <h5>Social media followers</h5>
                </div>
        <div class="col_one_fourth nobottommargin center" data-animate="bounceIn" data-delay="200"> <i class="i-plain i-xlarge divcenter nobottommargin icon-magic"></i>
                  <div class="counter counter-lined"><span data-from="3000" data-to="150" data-refresh-interval="100" data-speed="2500"></span>+</div>
                  <h5>National/international state covered</h5>
                </div>
        <div class="col_one_fourth nobottommargin center" data-animate="bounceIn" data-delay="400"> <i class="i-plain i-xlarge divcenter nobottommargin icon-file-text"></i>
                  <div class="counter counter-lined"><span data-from="10" data-to="100" data-refresh-interval="25" data-speed="3500"></span>+</div>
                  <h5>National/international Research sources</h5>
                </div>
        <div class="col_one_fourth nobottommargin center col_last" data-animate="bounceIn" data-delay="600"> <i class="i-plain i-xlarge divcenter nobottommargin icon-time"></i>
                  <div class="counter counter-lined"><span data-from="60" data-to="250" data-refresh-interval="30" data-speed="2700"></span>+</div>
                  <h5>Waiting for special services </h5>
                </div>
      </div>
            </div>
    <div class="clear"></div>
    <div class="section parallax dark nobottommargin" style="background-image: url('images/wp.jpg'); padding: 100px 0;" data-stellar-background-ratio="0.4">
              <div class="heading-block center">
        <h3>What Clients Say?</h3>
      </div>
              <div class="fslider testimonial testimonial-full" data-animation="fade" data-arrows="false">
        <div class="flexslider">
                  <div class="slider-wrap">
            <div class="slide">
                      <div class="testi-image"> <a href="#"><img src="images/3.jpg" alt="Customer Testimonails"></a> </div>
                      <div class="testi-content">
                <p>After experience of one month with you I can say that your accuracy is 80%</p>
                <div class="testi-meta"> Rahul <span></span> </div>
              </div>
                    </div>
            <div class="slide">
                      <div class="testi-image"> <a href="#"><img src="images/2.jpg" alt="Customer Testimonails"></a> </div>
                      <div class="testi-content">
                <p>You should increase number of calls in your stock cash segment. </p>
                <div class="testi-meta"> Kundan<span></span> </div>
              </div>
                    </div>
            <div class="slide">
                      <div class="testi-image"> <a href="#"><img src="images/1.jpg" alt="Customer Testimonails"></a> </div>
                      <div class="testi-content">
                <p>As per my knowledge your target in commodity pack are more sufficient compare to others.</p>
                <div class="testi-meta"> Dipak<span></span> </div>
              </div>
                    </div>
     
          </div>
                </div>
      </div>
            </div>
  </div>
          
          <!-- market_update
                 ============================================= -->
          <div class="container clearfix">

                    <div class="clear"></div>

                    <div class="heading-block center">
                        <h4>Current Market Update</h4>
                    </div>

                    <ul class="clients-grid grid-6 nobottommargin clearfix">
                        <li><a href="http://www.nseindia.com/" target="_blank"><img src="images/logo.gif" alt="Clients"></a></li>
                        
                        <li><a href="http://www.marketwatch.com/" target="_blank"><img src="images/marketWatch.png" alt="Clients"></a></li>
                        <li><a href="http://www.investing.com/" target="_blank"><img src="images/IG2_logo_mobile.png" alt="Clients"></a></li>
                        <li><a href="http://www.ft.com/home/india" target="_blank"><img src="images/masthead_main.jpg" alt="Clients"></a></li>
                        <li><a href="http://www.moneycontrol.com/" target="_blank"><img src="images/18jul2014_mc_logo.gif" alt="Clients"></a></li>
                        
                        <li><a href="http://www.cnbc.com/" target="_blank"><img src="images/cnbc-hdr-logo2.png" alt="Clients"></a></li>
                        
                        <li><a href="http://www.mcxcontrol.com/" target="_blank"><img src="images/mcxlogo.png" alt="Clients"></a></li>
                        
                        <li><a href="http://www.forexfactory.com/" target="_blank"> <img src="images/ForexFactory.png" alt="Clients"></a></li>
                        
                        <li><a href="http://www.mcxindia.com/" target="_blank"><img src="images/mcxact.gif" alt="Clients"></a></li>
                        
                        <li><a href="http://www.reuters.com/" target="_blank"><img src="images/masthead-logo.gif" alt="Clients"></a></li>
                        
                        <li><a href="http://www.ncdex.com/" target="_blank"> <img src="images/logo_ani.gif" alt="Clients"></a></li>
                        
                        <li><a href="http://www.bseindia.com/">
                            <img src="images/bse.png" alt="Clients">
                        </a></li>
                    </ul>

</div>          <!-- market_update --> 
          
          <script type="text/javascript">

                    jQuery(document).ready(function($) {

                        var ocClients = $("#oc-clients");

                        ocClients.owlCarousel({
                            margin: 80,
                            loop: true,
                            nav: false,
                            autoplay: true,
                            dots: false,
                            autoplayHoverPause: true,
                            responsive:{
                                0:{ items:3 },
                                600:{ items:4 },
                                1000:{ items:5 },
                                1200:{ items:6 },
                                1400:{ items:7 }
                            }
                        });

                    });

                </script>
          </div>
        </section>
<!-- #content end --> 

 
      
<footer id="footer" class="dark">

 
            <!-- Copyrights 
            ============================================= -->
            <div id="copyrights">

                <div class="container clearfix">
       <img src="images/logo.png" width="90px;" alt="" class="footer-logo" align="fbox-center">
                    <div class="col_half">
                        Copyrights &copy; 2015 All Rights Reserved by  Recoveryvia    .<br>
                        <div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
                    </div>

                    <div class="col_half col_last tright">
                        <div class="fright clearfix">
                            <a href="https://www.facebook.com/recoveryvia.com " target="_blank" class="social-icon si-small si-borderless si-facebook">
                                <i class="icon-facebook"></i>
                            </a>

                            <a href="http://twitter.com/recoveryvia.com " class="social-icon si-small si-borderless si-twitter">
                                <i class="icon-twitter"></i>
                                
                            </a>

                            <a href="#" target="_blank"  class="social-icon si-small si-borderless si-gplus">
                               
                                <i class="icon-google-plus"></i>
                            </a>

                            <a href="#" target="_blank"  class="social-icon si-small si-borderless si-pinterest">
                                
                                <i class="icon-pinterest"></i>
                            </a>

                            

                          
                            <a href="#" target="_blank"  class="social-icon si-small si-borderless si-tumblr">
                             
                                <i class="icon-tumblr"></i>
                            </a>

                            <a href="#" target="_blank"  class="social-icon si-small si-borderless si-linkedin">
                                <i class="icon-linkedin"></i>
                             
                            </a>
                        </div>

                        <div class="clear"></div>

                        <i class="fa fa-envelope"></i> info@recoveryvia.com.com<span class="middot">&middot;</span> <i class="icon-headphones"></i> +91-8103194076 <span class="middot">&middot;</span> <i class="icon-comments"></i> Recoveryvia  on skype
                    </div>

                </div>

            </div><!-- #copyrights end -->

        </footer>
​ 

</div>
<!-- #wrapper end --> 

<!-- Go To Top
    ============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- Footer Scripts
    ============================================= --> 
<script type="text/javascript" src="js/functions.js"></script>
</body>
</html>